// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much



/* import typography */
@import "typography.scss";

/*add image to banner bground*/

header[role="banner"] {
     background-image: url(/images/iv_crop2.png);
     background-size: 100% 100%;
     background-repeat: no-repeat;
}

body > header {
  font-size: .7em;
  hgroup {
    text-align: center;
    position: relative;
    padding: .5em 0;
    margin: 0 auto;
  }
  h1 {
    text-shadow: rgba(#000, 1) 0 0 12px;
    font-size: $header-font-size;
    line-height: .8em;
    position: relative;
    padding-bottom: .1em;
    padding-top: .25em;
    margin: 0;
    a:hover { color: #3D53BE; }
  }
  h2 {
    font-size: 2.5em;
    position: relative; top: .2em;
    padding-bottom: .25em;
  }
}
div.figure {
  float: left;
  //width: 30%;
  //border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}
div.figure p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

.credit {
  float: right;
}

blockquote {
  footer  {
    font-size:  0.7em;
  }
  p {
    margin-bottom: 0.5em;
  }
}